.content {
  text-align: center;
}
.form {
  display: flex;
}
.formfields {
    padding: 10px;
  text-align: left;
  width: 40%;
  border: 1px solid #000;
}
.competences, .technologies {
    padding: 10px;
  width: 30%;
  border: 1px solid #000;
}
.content, .devlist {
    padding: 5px;
    margin: 8px;
}
.formButton {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
table {
 margin: 0 auto;
}
tbody.tabledata {
  text-align: right;
  /*display: block;
  min-height: 100px;*/
  overflow-y: scroll;
}
table.devtable{
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
}
table.devtable tbody{
  height: 250px;
  overflow-y: auto;
}
.tabledatavalue, .tabledataheader {
    max-width: 200px;
 }
table.devtable td, table.devtable th {
  border: 1px solid black;
}
table.devtable tr:first-child th {
  border-top: 0;
}
table.devtable tr:last-child td {
  border-bottom: 0;
}
table.devtable tr td:first-child,
table.devtable tr th:first-child {
  border-left: 0;
}
table.devtable tr td:last-child {
  border-right: 0;
}
table.devtable thead{
 font-family: "Motiva Sans", Sans-serif;
 font-weight: 300;
 font-size: 18px;
 color: #67c1f5;
}
input[type="text"] {
 background-color: rgba( 0, 0, 0, 0.2 );
 color: #fff;
 border: 1px solid #000;
 border-radius: 3px;
 box-shadow: 1px 1px 0px #45556c;
}
input[type="button"] {
 cursor: pointer;
 color: #67c1f5;
 background-color: #2b5a79;
}
label {
 font-family: "Motiva Sans", Sans-serif;
 font-weight: 300;
 font-size: 18px;
 color: #67c1f5;
}
.form {
 font-family: Arial, Helvetica, sans-serif;
 color: #c6d4df;
 font-size: 12px;
}
body {
 width: 100%;
 background-color: #17435f;
 padding: 60px 0;
 font-family: Arial, Helvetica, sans-serif;
 color: #c6d4df;
 font-size: 12px;
 margin: 0px;
}
.top {
    text-align: center;
    background-color: #171a21;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    top: 0;
}
footer {
    text-align: center;
    background-color: #171a21;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow:hidden;
    position: absolute;
    bottom: 0;
}