<!DOCTYPE html>
<html ng-app="CadastroDevApp">

<head>
    <meta charset="UTF-8">
    <title>Developers Register</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="css//bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>


<body>
    <div class="top">
        <h1 class="title">Developers Register</h1>
    </div>
    <div ng-controller="CadastroDevController">
        <div class="content">
            <div class="form">
                <div class="col-xs-10 formfields">
                    <div class="col-xs-12 field">
                        <label class="col-xs-4">Name: </label>
                        <input class="col-xs-8 input-form" type="text" ng-model="dev.name"/>
                    </div>
                    <div class="col-xs-12 field">
                        <label class="col-xs-4">Birthday:</label>
                        <input class="col-xs-8 input-form" type="text" ng-model="dev.birthday"/>
                    </div>
                    <div class="col-xs-12 field"  >
                        <label class="col-xs-8">Available Hours Month:</label>
                        <input class="col-xs-4 input-form" type="text" ng-model="dev.availableHoursMonth"/>
                    </div>
                </div>
                <div class="col-xs-7 competences">
                    <table>
                        <thead>
                            <th><label class="col-xs-12">Competence</label></th>
                        </thead>
                        <td><input class="input-form" type="text" ng-model="competence" /></td>
                        <td>
                            <input type="button" value='+' ng-click="addCompetence()" />
                        </td>
                        <tbody class="tabledata">
                            <tr ng-repeat="competence in dev.competences">
                                <td>{{competence}}</td>
                                <td><input class="input-form" type="button" value="X" ng-click="removeCompetence($index)" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-7 technologies">
                    <table>
                        <thead>
                            <th><label class="col-xs-12">Technology</label></th>
                        </thead>
                        <td><input class="input-form" type="text" ng-model="technology" /></td>
                        <td><input type="button" value='+' ng-click="addTechnology()" /></td>
                        <tbody class="tabledata">
                            <tr ng-repeat="technology in dev.technologies">
                                <td>{{technology}}</td>
                                <td><input type="button" value="X" ng-click="removeTechnology($index)" /></td>
                            </tr>
                            <tbody>
                    </table>
                </div>
            </div>
            <input type="button" class="formButton" value={{buttonName}} ng-click="saveDev()" ng-disabled="isFormDisabled()" />
            <input type="button" class="formButton" value="Cancel" ng-click="cancel()" ng-disabled="isFormDisabled()" />
        </div>
        <div class="devlist">
            <table class="devtable">
                <thead>
                    <th class="tabledataheader">Developers</th>
                    <th class="tabledataheader">Available Hours</th>
                </thead>
                <tbody>
                    <tr ng-repeat="dev in devs">
                        <td class="tabledatavalue">{{dev.name}}</td>
                        <td class="tabledatavalue">{{dev.availableHoursMonth}}</td>
                        <td><input type="button" value="Update" ng-click="editDev($index, dev)" /></td>
                        <td><input type="button" value="Delete" ng-click="removeDev($index, dev)"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<footer>
    <div class="footer">
        <p>DM104 - Frederico Augusto Laranjo Silva</p>
    </div>
</footer>

</html>